<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Display Property Example</title>
<style>
  .block {
    display: block;
    width: 100px;
    height: 100px;
    background-color: red;
    margin-bottom: 10px;
  }
  
  .inline {
    display: inline;
    width: 100px;
    height: 100px;
    background-color: blue;
    margin-right: 10px;
  }

  .inline-block {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: green;
    margin-right: 10px;
  }

  .none {
    display: none;
  }
</style>
</head>
<body>
  <div class="block"></div>
  <div class="inline"></div>
  <div class="inline-block"></div>
  <div class="none">This element is hidden</div>
</body>
</html>
